@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body,
  #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    /* Enable vertical scrolling */
  }

  body {
    background-color: #fff7ed;
    /* orange-50 */
    font-family: 'Inter', sans-serif;
  }
}

#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}